* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#contenedor {
    width: 500px;
    height: 700px;
    margin: 50px auto;
    background-color: rgba(32, 30, 187, 0.507);
    border: 2px solid darkgray;
    border-radius: 15px;
}

#contenedor #calculo {
    width: 90%;
    margin: 10px auto;
}

#contenedor #cuerpo {
    width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#contenedor #cuerpo #idx_c {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

#contenedor #cuerpo #idx_b {
    grid-row-start: 1;
    grid-column-start: 3;
}

#contenedor #cuerpo #idx_div {
    grid-row-start: 1;
    grid-column-start: 4;
}

#contenedor #cuerpo #idx_mult {
    grid-row-start: 2;
    grid-column-start: 4;
}

#contenedor #cuerpo #idx_rest {
    grid-row-start: 3;
    grid-column-start: 4;
}

#contenedor #cuerpo #idx_sum {
    grid-row-start: 4;
    grid-column-start: 4;
}

#contenedor #cuerpo #idx_igu {
    grid-row-start: 5;
    grid-column-start: 4;
}

#contenedor #cuerpo #idx_0 {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}