* {
    margin: 0;
    padding: 0;
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
}

#contenedor {
    width: 500px;
    height: 700px;
    margin: 50px auto;
    background-color: rgba(32, 30, 187, 0.507);
    border: 2px solid darkgray;
    border-radius: 15px;
}

#contenedor #calculo {
    width: 90%;
    margin: 10px auto;
}

#contenedor #cuerpo {
    width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#contenedor #cuerpo .especiales {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#contenedor #cuerpo .especiales #idx_c {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 170px;
}

#contenedor #cuerpo .especiales #idx_b {
    grid-row-start: 1;
    grid-column-start: 3;
}

#contenedor #cuerpo .teclado {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#contenedor #cuerpo .teclado #idx_0 {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 170px;
}

#contenedor #cuerpo .basicas {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    display: flex;
    flex-direction: column-reverse;
}

input[type="button"] {
    background-color: #f2f2f2;
    width: 70px;
    height: 70px;
    margin: 10px auto;
    border-style: none;
    border-right: 10px outset olive;
    border-bottom: 10px outset rgb(88, 88, 2);
    font-size: 24px;
}

input[type="button"]:hover {
    border-style: none;
    border-right: 10px inset rgb(88, 88, 2);
    border-bottom: 10px inset olive;
}

textarea {
    width: 420px;
    max-width: 420px;
    min-width: 420px;
    height: 150px;
    max-height: 150px;
    min-height: 150px;
    border-radius: 15px;
    margin: 15px auto;
    display: block;
}