header {
    background: $color_blanco;
    nav {
        ul {
            list-style: none;
            overflow: hidden;
            li {
                float: left;
                a {
                    text-decoration: none;
                    display: inline-block;
                    color: $color_negro;
                    padding: 15px 20px;
                    &:hover {
                        background: $color_negro;
                        color: $color_blanco;
                    }
                }
            }
        }
    }
}