* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: #4a465b;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    overflow: hidden;
}


/* Estilos correspondientes al navbar de la pagina */

header {
    background: #fff;
}

header nav {
    width: 100%;
}

header nav ul {
    width: 100%;
    overflow: hidden;
    list-style: none;
}

header nav ul li {
    float: left;
    /* padding: 10px 15px; */
    /* display: inline-block; */
}

header nav ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
}

header nav ul li a:hover {
    background: #000;
    color: #fff;
}


/* Fin de los estilos del navbar de la pagina*/


/* Inicio de los estilos del contenido de la pagina web */

.main {
    width: 70%;
    background: #fff;
    float: left;
}


/*Estilo de la imagen principal*/

.main .imagen {
    width: 100%;
}

.main .imagen img {
    width: 100%;
    vertical-align: top;
}


/*Estilo de los articulos*/

.main .posts {
    width: 100%;
    padding: 40px;
}

.main .posts article h2 {
    margin-bottom: 20px;
    color: #424242;
    text-align: center;
}

.main .posts article p {
    margin-bottom: 15px;
    line-height: 20px;
    color: #424242;
    text-align: justify;
}


/*Estilo de la barra lateral*/

aside {
    width: 30%;
    background: #161f26;
    padding: 20px;
    color: #fff;
    float: left;
}

aside .widget {
    margin-bottom: 20px;
}

aside .widget .titulo {
    color: #ff8000;
    border-bottom: 1px solid #ff8000;
    margin-bottom: 10px;
}

aside .widget ul {
    list-style: none;
}

aside .widget ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0;
}

aside .widget ul li a {
    color: #fff;
    text-decoration: none;
}

aside .widget ul li a:hover {
    color: #8f8f8f;
}

aside .widget p {
    line-height: 27px;
}


/* Fin de los estilos del contenido */


/* Inicio de los estilos del footer */

footer {
    clear: both;
    width: 100%;
    background: #000;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}


/*------------------------------------------------------*/


/* Estilos definidos para el diseño adaptable a multibles tamaños de pantala*/

@media screen and (max-width:800px) {
    .main {
        width: 100%;
    }
    aside {
        width: 100%;
    }
}